.newsletter{
    background: linear-gradient(180deg,#fde1ff 0%,#e1ffea22 60%);
    
    }
    .newsletter >div{

border-radius: 80px;
border: 1px solid #e3e3e3;
    }
    .newsletter input{

        width: 500px;
        margin-left: 30px;
        border: none;
        outline: none;
        color: #616161;
        font-family: poppins;
        font-size: 16px;
    }

    .newsletter >div >button{

border-radius: 80px;
background: black;
color: white;
font-size: 16px;
cursor: pointer;

    }